mixin form-main()
  form.form-main(data-validate, data-form)
    +custom-input(
      { inputLabel: "Name", inputType: "text", inputName: "user-name", inputPlaceholder: "Input your name" }
    )(data-validate-type="text" class="form-main__half")
    +custom-input(
      { inputLabel: "Email", inputType: "email", inputError: "incorrect adress", inputName: "user-email", inputPlaceholder: "Input your email" }
    )(data-validate-type="email" class="form-main__half")
    +custom-textarea(
      { inputLabel: "Speciale Request", inputType: "text", inputName: "user-text", inputPlaceholder: "Input your speciale request" }
    )(data-validate-type="email" class="form-main__full-width")

    +btn({text: "Send", type: "submit"}).form-main__btn
