mixin intro()
  section.intro
    +bg-block({
      path: "bg",
      image: "main-bg",
      format: "jpg",
      width: 1920,
      height: 901,
      altText: "Интерьер ресторана",
    })
    //- вставлять блоки во внешний контейнер неверно
    //- все блоки содержат в себе container без доп класса tutorial__wrapper
    .container
      p.intro__text OPEN EVERYDAY 6AM - 9PM
      h2.intro__title A&nbsp;bad day with lunch is&nbsp;better than a&nbsp;good day without&nbsp;it.
      .intro__btns
        +btn({isLink: false, text: "Reserve a table"})(class=`intro__btn`)(data-open-modal="reserve")
        ul.socials
          each item in socialsList
            li.socials__item
              a.socials__link(href="#", aria-label=item.ariaLabel, target="_blank", rel="nofollow noopener")
                +icon(item.icon, 24, 24)
