mixin map()
  section.map
    h2.visually-hidden address
    .container
      .map__content
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d40159.062815774414!2d3.639125848474082!3d51.017230951719!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c3738550a1c421%3A0xb8d4b933ee7ba315!2sdominos!5e0!3m2!1sru!2str!4v1677757000034!5m2!1sru!2str" width="1170" height="547" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
