.bg-block {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background-color: $color-port-gore;
  overflow: hidden;

  &__img {
    height: 100%;
    width: 100%;

    img {
      object-position: center center;
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }
}
