.btn {
  display: inline-flex;
  padding: 10px 20px;
  color: $color-default-white;
  border: none;
  cursor: pointer;
  transition: background-color $trans-default;

  @include hover-focus {
    background-color: $color-calico;
  }

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}
