.link {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0;
  border: none;
  border-radius: 0;
  background-color: $color-transparent;
  appearance: none;
  cursor: pointer;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  transition: color $trans-default;

  svg {
    flex-shrink: 0;

    &:not(:last-child) {
      margin-right: 10px;
    }
  }

  @include hover-focus {
    color: $color-calico;
  }
}
