// @font-face {
//   font-style: normal;
//   font-weight: 400;
//   font-family: "Rouble";

//   font-display: swap;
//   src:
//     url("../fonts/rouble.woff2") format("woff2"),
//     url("../fonts/rouble.woff") format("woff");
// }

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Poppins-400";

  font-display: swap;
  src:
    url("../fonts/poppins-400.woff2") format("woff2"),
    url("../fonts/poppins-400.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "Poppins-700";

  font-display: swap;
  src:
    url("../fonts/poppins-700.woff2") format("woff2"),
    url("../fonts/poppins-700.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 500;
  font-family: "Poppins-500";

  font-display: swap;
  src:
    url("../fonts/poppins-500.woff2") format("woff2"),
    url("../fonts/poppins-500.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 600;
  font-family: "Poppins-600";

  font-display: swap;
  src:
    url("../fonts/poppins-600.woff2") format("woff2"),
    url("../fonts/poppins-600.woff") format("woff");
}
