-
	var eventsData = [
		{
			day: 'Woensdag 12/01',
			datetime: '2023-01-12',
			appetizer: 'Salade met Serrano',
			mainCourse: 'Steak Tartaar'
		},
		{
			day: 'Donderdag 13/01',
			datetime: '2023-01-13',
			appetizer: 'Toast Roquefort',
			mainCourse: 'Penne met Kip en Prei'
		},
		{
			day: 'Vrijdag 14/01',
			datetime: '2023-01-14',
			appetizer: 'Verrassing van de Chef',
			mainCourse: 'Penne met Kip en Prei'
		},
		{
			day: 'Vrijdag 15/01',
			datetime: '2023-01-15',
			appetizer: 'Verrassing van de Chef',
			mainCourse: 'Penne met Kip en Prei'
		},
		{
			day: 'Vrijdag 16/01',
			datetime: '2023-01-16',
			appetizer: 'Verrassing van de Chef',
			mainCourse: 'Penne met Kip en Prei'
		},
	];