-
  const galleryData = [
    {
      img: "gallery-1",
      format: "jpg",
      alt: "bar",
    },
    {
      img: "gallery-1",
      format: "jpg",
      alt: "bar",
    },
    {
      img: "gallery-1",
      format: "jpg",
      alt: "bar",
    },
  ]
