-
  const menuData = [
    {
      title: "LEKKER ETEN",
      text: "Eten gaat niet over indruk maken op mensen. Het gaat erom dat ze zich op hun gemak voelen. Dat is onze filosofie, goed eten in een goede sfeer.",
      img: "meal-1",
      format: "jpg",
      alt: "meat"
    },
    {
      title: "TOFFE AMBIANCE",
      text: "Het creëren van de juiste sfeer is zeer belangrijk voor ons. We nemen onze tijd om te zorgen dat alle elementen bijdragen aan de juiste setting.",
      img: "meal-2",
      format: "jpg",
      alt: "beer",
      isReverse: true
    },
    {
      title: "LEKKERE COCKTAILS",
      text: "Ons doel is simpel: een gastvrije plek bieden waar u kunt genieten van een onvergetelijke cocktail, een goed gesprek en lekker eten.",
      img: "meal-3",
      format: "jpg",
      alt: "coctail"
    },
  ]
