-
  var socialsList = [
    {
      icon: 'icon-fb',
      ariaLabel: 'link to facebook',
    },
    {
      icon: 'icon-ig',
      ariaLabel: 'link to instagram',
    },
    {
      icon: 'icon-tw',
      ariaLabel: 'link to twitter',
    },
    
    {
      icon: 'icon-yt',
      ariaLabel: 'link to youtube',
    },
  ];
